html{
    background-color: rgba(0,0,0,0.9);
    color: aliceblue;
}

textarea{
    background-color: grey;
}

textarea::placeholder{
    color: aliceblue;
}

.main{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}